@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');;
$fontmain: 'STIX Two Text', serif;

$fontsizesmall: 0.8em;
$fontsizemedium: 1em;
$fontsizebig: 2em;

$fontcolorpink: pink;
$fontcolorblack: black;
$fontcolorgrey: grey;
$fontcolorwhite: white;